
.white{
  color: white
}

input{
  height: 34px;
  padding-left:5px;
  line-height: 20px;
  font-size: 2rem;
  width:130px;
  background-color: #dfd
}

p {
  font-size: 2em;
}

* {
  box-sizing: border-box;
}

.c {
 
  font-family: Monoton;
  color : #FEA00C
}

.neon {
  text-align: center;
  font-size: 2em;
  margin: 20px 0 20px 0;
  text-shadow: 0 0 5px #111, 0 0 10px #111, 0 0 15px #fff, 0 0 20px #111, 0 0 35px #111
}

.neonShadow {
  text-shadow: 0 0 5px #111, 0 0 10px #111, 0 0 15px #fff, 0 0 20px #111, 0 0 35px #111
}

.help {
  font-size: 1.1em;
  opacity:0.7;
  -webkit-animation: KEYFRAME-HELP 3s forwards;
  -moz-animation:    KEYFRAME-HELP 3s forwards;
  -o-animation:      KEYFRAME-HELP 3s forwards;
  animation:         KEYFRAME-HELP 3s forwards;
}

@-webkit-keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  50%   { opacity: 0;}
  100% { opacity: 1;}
}
@-moz-keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  50%   { opacity: 0;}
  100% { opacity: 1;}
}
@-o-keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  50%   { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  22%   { opacity: 0;}
  100% { opacity: 1;} 
}


.animateSunMoon {
  
  -webkit-animation: KEYFRAME-DAYNIGHT 4s forwards;
  -moz-animation:    KEYFRAME-DAYNIGHT 4s forwards;
  -o-animation:      KEYFRAME-DAYNIGHT 4s forwards;
  animation:         KEYFRAME-DAYNIGHT 4s forwards;
}

@-webkit-keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}
@-moz-keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}  
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}
@-o-keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}
@keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}


.animateOpacity {
  -webkit-animation: KEYFRAME-AO 1s forwards;
  -moz-animation:    KEYFRAME-AO 1s forwards;
  -o-animation:      KEYFRAME-AO 1s forwards;
  animation:         KEYFRAME-AO 0.5s forwards;
}

@-webkit-keyframes KEYFRAME-AO {
  0%   { opacity: 0;}
  33%   { opacity: 0;}
  100% { opacity: 1;}
}
@-moz-keyframes KEYFRAME-AO {
  0%   { opacity: 0;}
  33%   { opacity: 0;}
  100% { opacity: 1;}
}
@-o-keyframes KEYFRAME-AO {
  0%   { opacity: 0;}
  33%   { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes KEYFRAME-AO {
  0%   { opacity: 0.2;}
  
  100% { opacity: 0.83;} 
}