.body {
  background-color: black;
}

.App {
  
 

}

.footer {
  position: absolute;
  bottom:10px;
  width: 100%;
}

.animateSunMoon {
  
  -webkit-animation: KEYFRAME-DAYNIGHT 4s forwards;
  -moz-animation:    KEYFRAME-DAYNIGHT 4s forwards;
  -o-animation:      KEYFRAME-DAYNIGHT 4s forwards;
  animation:         KEYFRAME-DAYNIGHT 4s forwards;
}


@-webkit-keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}
@-moz-keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}  
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}
@-o-keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}
@keyframes KEYFRAME-DAYNIGHT {
  0%   { opacity: 0; left:5%;}
  33%   { opacity: 0; left:5%;}
  100% { opacity: 1; left:100%;}
}


.animateOpacity {
  -webkit-animation: KEYFRAME-AO 1s forwards;
  -moz-animation:    KEYFRAME-AO 1s forwards;
  -o-animation:      KEYFRAME-AO 1s forwards;
  animation:         KEYFRAME-AO 0.5s forwards;
}

@-webkit-keyframes KEYFRAME-AO {
  0%   { opacity: 0;}
  33%   { opacity: 0;}
  100% { opacity: 1;}
}
@-moz-keyframes KEYFRAME-AO {
  0%   { opacity: 0;}
  33%   { opacity: 0;}
  100% { opacity: 1;}
}
@-o-keyframes KEYFRAME-AO {
  0%   { opacity: 0;}
  33%   { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes KEYFRAME-AO {
  0%   { opacity: 0.2;}
  
  100% { opacity: 0.83;} 
}

.help {
  
  -webkit-animation: KEYFRAME-HELP 3s forwards;
  -moz-animation:    KEYFRAME-HELP 3s forwards;
  -o-animation:      KEYFRAME-HELP 3s forwards;
  animation:         KEYFRAME-HELP 3s forwards;
}

@-webkit-keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  50%   { opacity: 0;}
  100% { opacity: 1;}
}
@-moz-keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  50%   { opacity: 0;}
  100% { opacity: 1;}
}
@-o-keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  50%   { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes KEYFRAME-HELP {
  0%   { opacity: 0;}
  22%   { opacity: 0;}
  100% { opacity: 1;} 
}


.text{
  color: white
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



input{
  height: 34px;
  padding-left:5px;
  line-height: 20px;
  font-size: 2rem;
  width:130px;
  background-color: #dfd
}

p {
  font-size: 2em;
}

.help {
  font-size: 1.1em;
  opacity:0.7;
}



.weatherHeadline{
  margin-top:2em; padding-top: 1em; padding-bottom: 1em; 
  background-color: white;
}

#inputWeather{text-transform:capitalize; margin-left: 0.3em; }

.humidityWrapper {
  
  width: 30%;
  float: left;
}
.humidity {
  background-image: url('../images/humidity.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position :absolute;
  bottom:0px;
}

.humidityComponent {
  position: absolute;
  bottom: 10px;
}

.humidityText {
  opacity: 0.9;
  font-size: 19px;
  position :absolute;
  bottom:2px;
}

.dayNightWrapper {
  
  width: 30%;
  float: right;
}

.dayNight {
  float: right;
  padding:10px;
}




.clockContainer {
  width: 200px;
  padding-top:22px;
}

.clock {
  padding-bottom: 0em;
  font-size: 4em;
  color: #FEA00C;
  line-height: 1em;
  
}




* {
  box-sizing: border-box;
}


.main {
  max-width: 1000px;
  margin: 0 auto;
  height: 560px;
  background: black;
  
}

.headline, .responseBody {
  text-align: center;

}

.responseBody {
  position: relative;
  background-image: url('../images/castle.png');
  background-repeat: no-repeat;
  height: 440px;
  background-position: bottom; 
  
  
}

.weatherTime {
  float:left;
}

.weatherImage 
 {
  float:left;
  width: 25%;
}

.weatherImageContainer {
  width: 100%;
}

.responseText 
 {
  float:left;
  width: 50%;
  color:white;
}

.time 
 {
  float:right;
  width: 25%;
}

.wind {
  width:100%;
  text-align: center;
  margin-top: -2em;
}

section:before {
  clear: both;
}
section:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 760px) {
  .weatherImage, .time {
    width: 30%;
  }
  .responseText {
    width: 40%;
  }
  .weatherHeadline{
    margin-top: 0em;
  }
}

@media (max-width: 550px) {
  .weatherTime, .responseText {
      width: 100%;
      height: auto;
  }
  .weatherImage, .time {
    width: 50%;
  }

  .responseBody {
    height: 540px;
  }
  .main {
    height: 660px;
  }
}

@media (max-width: 400px) {
  .weatherImage, .time, .responseText, .clockContainer, .humidityComponent, .dayNightWrapper {
      width: 100%;
      height: auto;
      }
      
  .responseBody {
    height: 670px;
  }
  .main {
    height: 790px;
  }
}

@media (max-width: 300px) {
  .responseBody {
    height: 800px;
  }
  .main {
    height: 920px;
  }

}


@font-face {
  font-family: 'Kirang Haerang';
 
  font-weight: normal;
  font-style: normal;
}

.c {
 
  font-family: Monoton;
  color : #FEA00C
}


.neon {
  text-align: center;
  font-size: 2em;
  margin: 20px 0 20px 0;

  color: #fff;
  
  text-shadow: 0 0 5px #111, 0 0 10px #111, 0 0 15px #fff, 0 0 20px #111, 0 0 35px #111
}

.neonShadow {
  text-shadow: 0 0 5px #111, 0 0 10px #111, 0 0 15px #fff, 0 0 20px #111, 0 0 35px #111
}